body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 40%;
    background-color: #F9A825; /* Yellow color */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group {
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.verify-otp {
    background-color: #81C408;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.verify-otp:hover {
    background-color: #6FA006;
}

        #resendButton {
            background-color: #07679D;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        #resendButton:hover {
            background-color: #05517A; /* Optional: Change color on hover */
        }
   
